.DS_Store
*~
#*#
*log
*blg
*out
*aux
*.idea
*pynb
*pyc

# bibliography files:
*bbl

LCFIT
LCFIT.BAD
LCCOMPARE
IMAGES
HUBBLEFIG
HSTACS_IA*
HIGHZ_IA*
FOREGROUND_GALAXY
FIG/system3.key
FIG/system3.jpg
FIG/system3.pdf
LCFIT.v1
LENSING
SPECTRUM
DETECTION_IMAGE
*OLD
test*
*tar
